$lightbg: #EFEBE4;
$darkbg: #344652;
$accent: #FFB143;
$textcolor: #101F2A;
$warningcolor: #FF4343;
$fontFamily: 'Montserrat', sans-serif;
$fontSize: 16px;

body, h1,h2,h3, h4,h5,h6, p, ul,ol, button{
	margin: 0;
	padding: 0;	
	font-family: $fontFamily;
	color: $darkbg;
	font-size: $fontSize;
}
li{
	list-style:none;
}

form, input, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: inherit;
	font-family: inherit;
	vertical-align: baseline;
	border: none;
	background-color: transparent;
}

button:focus{
	outline: none;
}

a:hover , a {
    color: inherit;
    text-decoration: inherit;
}

@mixin block-global-style{
	width: 100%;
	background-color: $lightbg;
	padding-top: 5%;
}
@mixin big-contact-photo{
	width: 128px;
	height: 128px;
	border-radius: 50%;
	background: #000000;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	display: block;
	margin-bottom: 24px;

}

.contact-page{
	display: block; 
	@include block-global-style;
	&__main-photo{
		@include big-contact-photo;
		border: 2px solid #FFB143;	
	}
	&__contact-full-name,
	&__contact-text-about,
	&__phone-number,
	&__email,
	&__date-of-birth,
	&__insta-acc {
		display: block;
	}
	&__contact-full-name{
		font-size: 24px;
		padding-bottom: 16px;
	}
	&__contact-text-about{
		padding-bottom: 44px;
	}
	&__contact-full-name,
	&__contact-text-about{
		text-align: center;
		padding-left: 10px;
		padding-right: 10px;
	}

	&__phone-number,
	&__email,
	&__date-of-birth,
	&__insta-acc {
	height: 24px;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 36px;
	position: relative;
	}

	&__phone-number:before,
	&__email:before,
	&__date-of-birth:before,
	&__insta-acc:before{
			position: absolute;
			top:-12px;
			left:16px;
			font-size: 12px;
			color: rgba(52, 70, 82, 0.5);
		}
	&__phone-number:before{
		content:'Phone'; ;

	}
	&__email:before{
		content:'Email';
	}
	&__date-of-birth:before{
		content:'Birthday'; 
	}
	&__insta-acc:before{
		content:'Instagram'; 
	}

	&__insta-acc {
		padding-bottom: 16px;
	}
	&__insta-last-photos{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-left: 7.5%;
		padding-right: 7.5%;
		li{
			width: 128px;
			height: 128px;
			margin-bottom: 16px;

			img{
				width: 100%;
				height: 100%;
				border-radius: 4px;
			}
		}
	}
}

@media (min-width: 768px) {
	.contact-page{
		width: calc(100% - 320px);
		padding-top: 6.25%;

		&__insta-last-photos{
			padding-left: 18%;
			padding-right: 18%;
		}
	}
	
}

// Create/edit form

.contact_photo {
	position: relative;
	text-align: center;
	padding: 1rem 0 1.4rem;

	.contact_photo_img {
		position: relative;
		display: inline-block;
		overflow: hidden;
		max-width: 128px;
		max-height: 128px;
		border-radius: 50%;
		cursor: pointer;

		a, a>img {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	p {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%);
		font-family: 'Roboto';
		font-size: .6rem;
		line-height: 11px;
		font-weight: bold;
	}
}

.main_content {
	background-color: $lightbg;
	min-height: 100vh;
	box-sizing: border-box;
	padding: 0 15px;
}

.contact_form {
	position: relative;
	padding-bottom: 2rem;
	width: 100%;
}

form {
	position: relative;

	div {
		position: relative;
		margin-bottom: 2rem;
		text-align: center;

		input {
			position: relative;
			width: 100%;
			border-bottom: 1px solid rgba(52, 70, 82, 0.5);
			font-size: 16px;
			line-height: 24px;
			color: $textcolor;
			&:focus, &:active {
				outline: none;
				border-bottom: 1px solid $accent;
			}
		}
		textarea {
			background-color: transparent;
			width: 100%;
			border: none;
			border-bottom: 1px solid rgba(52, 70, 82, 0.5);
			&:focus, &:active {
				outline: none;
				border-bottom: 1px solid $accent;
			}
		}
		input:placeholder-shown, textarea:placeholder-shown {
			padding-bottom: 1rem;
			font-size: 12px;
			line-height: 12px;
			color: rgba(52, 70, 82, 0.5);
		}

		button {
			position: relative;
			display: inline-block;
			text-align: center;
			cursor: pointer;
			min-width: 8.5rem;
			outline: none;
			background-color: transparent;
			border: 1px solid $textcolor;
			border-radius: 56px;
			height: 35px;
			line-height: 35px;
			font-size: 12px;

			&:focus, &:hover {
				background-color: $accent;
			}

			span {
				padding: 0 10px;
				color: $textcolor;
				font-size: inherit;
				line-height: 20px;
			}
		}
	}
}

@media (min-width: 768px) {
	.main_content {
		width: calc(100% - 320px);
	}
}



.header {
	position: relative;
	background: $accent;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 2px 4px #adaaaa;
	z-index: 2;
	h1 {
		font-size: 24px;
		line-height: 24px;
	}
	i {
		font-size: 35px;
		margin: 0 16px;
	}
	a {
		min-width: 55px;
	}
}

.all-contacts {
	@include block-global-style;
	min-height: 500px;
		.contact {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 30px;

			img {
				@include big-contact-photo;
				border: 2px solid #FFB143;
				height: 48px;
				width: 48px;
				margin: 0 30px;
			}
		 	i {
				font-size: 27px;
				margin: 0 16px;
			}
			div {
				width: 100%;
				p {
					font-size: 12px;
				}
			}
		}
}



